<!DOCTYPE html>
<html lang="vi">
<head>
	<%= infoCompany.metaSEO %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= infoCompany.name %> - Tín dụng - Đáo hạn thẻ</title>
</head>
<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<script>
		function goBack() {
		  window.history.back();
		}
		function goHome() {
		  window.location.href = "/";
		}
	</script>
	<div class="container">
		<div class="row text-center">
	        <div class="col-sm-6 col-sm-offset-3">
	        <br><br> <h2 style="color:#3498db"><%-status%></h2>
	        <%if(status!=='Lỗi'){%>
	        	<h3><%-msg%></h3>
	        	<a onclick="<%-events%>" class="btn btn-success">      <%-btn%>      </a>
	        <%}else{%>
		        <h3><%-msg%>:</h3>
		        <%for (var i = 0; i < msgErr.length; i++) {%>
					<p style="font-size:20px;color:#e74c3c;"><%-msgErr[i]%></p>
				<%}%>
	        	<a onclick="<%-events%>" class="btn btn-warning">      <%-btn%>      </a>
	        <%}%>
	    <br><br>
	        </div>
	        
		</div>
	</div>
</body>
</html>